html {
  font-size: 18px;
  
}

body {
 
  font-family: "Inter", "Segoe UI", sans-serif;
  line-height: 1.7;
   color: #e6e8ee; 
}
h1,h3,h2, h3, h4, h5, h6,p {
  color: #f1f3f9; /* bright but not harsh */
}



.sidebar-fixed{
  background: #001845;
  color: #e6e8ee;
} 
.sidebar-fixed h4,
.sidebar-fixed h5,
.sidebar-fixed h6,
.sidebar-fixed p,
.sidebar-fixed span {
  color: #e6e8ee;
}
.main-content {
  /* margin-left: 25%; */
  min-height: 100vh;
  padding: 30px;
  background-color: #01102b;
  
}
.card-body{
  background-color:#010f1f;
   color: #e6e8ee;
}
.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.nav-link {
  cursor: pointer;
  font-weight: 900;
}

.nav-link.active {
  border-bottom: 2px solid #0d6efd;
}


.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  
}

.skill-card {
  width: 200px;
  height: 200px;
  background: #11273d;
  border-radius: 12px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  color: #ffffff; 
}

.skill-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 8px;
}

.skill-card span {
  font-size: 14px;
  font-weight: 500;
  color:#dee1e7;
}

.skill-card:hover {
  transform: translateY(-4px);
}

.project-img {
  max-height: 300px;
  object-fit: cover;
}

.education-timeline {
  position: relative;
  padding-left: 30px;
}

.education-timeline::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #4da3ff;
}

.edu-item {
  position: relative;
  margin-bottom: 30px;
}

.edu-dot {
  position: absolute;
  left: -2px;
  top: 6px;
  width: 14px;
  height: 14px;
  background: #4da3ff;
  border-radius: 50%;
}

.edu-content {
  padding-left: 20px;
   color: #e6e8ee;
}



.achievement-icon .emoji {
  font-size: 30px;
}

.resume-btn {
  border-radius: 20px;
  padding: 6px 16px;
  font-weight: 500;
    background-color: #0353a4;
  color: #ffffff;
}
.resume-btn:hover {
  background-color: #0466c8;
}
.section-card {
  padding: 10px;
  background-color: #ffffff;
  color: #e6e8ee;
}

.section-card ul {
  padding-left: 1.2rem;
}

.section-card li {
  margin-bottom: 6px;
   color: #d6daea;
}

.doing-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.doing-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
}


/* Desktop only */
@media (min-width: 768px) {
  .sidebar-fixed {
    position: sticky;
    top: 0;
    height: 100vh;
  }

  .main-content {
    padding: 1.5rem;
  }
}




/* Smaller image on mobile */
@media (max-width: 767px) {

nav.navbar.fixed-top {
    background-color: #001845 !important /* your red */
  }

  nav.navbar .nav-link {
    color:#0d6efd;;
  }

  nav.navbar .nav-link:hover {
    color: #ffe5e5 !important;
  }
 .navbar-brand .brand-text {
    display: none;
  }
  .profile-img {
    width: 120px;
    height: 120px;
  }
.skills-grid {
    justify-content: center;
    gap: 12px;
  }
  .skill-card {
    width: 140px;
    height: 140px;
  }

  .skill-card img {
    width: 80px;
    height: 80px;
  }
  .sidebar-fixed {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 20px; 
    background-color: #001845; 
  }
  .sidebar-card {
    border-radius: 0;
  }

  .sidebar-content {
    padding: 20px 10px;
  }

  .sidebar-content h4 {
    font-size: 1.1rem;
    margin-top: 10px;
  }

  .sidebar-content h6 {
    font-size: 0.9rem;
  }

  .desktop-only {
    display: none;
  }
  .main-content {
    padding-top: 10px;
      background-color: #001233;  
  }
   body {
    font-size: 16px;
    color: #e6e8ee;
    /* background-color: #000814;  */
    background-color: #01102b !important;
  }
  .sidebar-card{
    margin-top: 100px;
  }
  html {
    font-size: 15px; /* mobile */
    
  }
}

.mobile-logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}





